# Python Tools for Visual Studio (PTVS)
__pycache__/
.idea/
/.idea/misc.xml
/.idea/modules.xml
/.idea/MSN.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

/Slicer 5.2.1/

/demo/input/IM111.dcm
/demo/input/IM112.dcm
/demo/input/IM113.dcm
/demo/input/IM114.dcm
/demo/input/IM115.dcm
/demo/input/IM116.dcm
/demo/input/IM117.dcm
/demo/input/IM118.dcm
/demo/input/IM119.dcm
/demo/input/IM120.dcm
/demo/input/IM121.dcm
/demo/input/IM122.dcm
/demo/input/IM123.dcm
/demo/input/IM124.dcm
/demo/input/IM125.dcm
/demo/input/IM126.dcm
/demo/input/IM127.dcm
/demo/input/IM128.dcm
/demo/input/IM129.dcm
/demo/input/IM130.dcm
/demo/input/IM131.dcm
/demo/input/IM132.dcm
/demo/input/IM133.dcm
/demo/input/IM134.dcm
/demo/input/IM135.dcm
/demo/input/IM136.dcm
/demo/input/IM137.dcm
/demo/input/IM138.dcm
/demo/input/IM139.dcm
/demo/input/IM140.dcm
/demo/input/IM141.dcm
/demo/input/IM142.dcm
/demo/input/IM143.dcm
/demo/input/IM144.dcm
/demo/input/IM145.dcm
/demo/input/IM146.dcm
/demo/input/IM147.dcm
/demo/input/IM148.dcm
/demo/input/IM149.dcm
/demo/input/IM150.dcm
/demo/input/IM151.dcm
/demo/input/IM152.dcm
/demo/input/IM153.dcm
/demo/input/IM154.dcm
/demo/input/IM155.dcm
/demo/input/IM156.dcm
/demo/input/IM157.dcm
/demo/input/IM158.dcm
/demo/input/IM159.dcm
/demo/input/IM160.dcm
/demo/input/IM161.dcm
/demo/input/IM162.dcm
/demo/input/IM163.dcm
/demo/input/IM164.dcm
/demo/input/IM165.dcm
/demo/input/IM166.dcm
/demo/input/IM167.dcm
/demo/input/IM168.dcm
/demo/input/IM169.dcm
/demo/input/IM170.dcm
/demo/input/IM171.dcm
/demo/input/IM172.dcm
/demo/input/IM173.dcm
/demo/input/IM174.dcm
/demo/input/IM175.dcm
/demo/input/IM176.dcm
/demo/input/IM177.dcm
/demo/input/IM178.dcm
/demo/input/IM179.dcm
/demo/input/IM180.dcm
/demo/input/IM181.dcm
/demo/input/IM182.dcm
/demo/input/IM183.dcm
/demo/input/IM184.dcm
/demo/input/IM185.dcm
/demo/input/IM186.dcm
/demo/input/IM187.dcm
/demo/input/IM188.dcm
/demo/input/IM189.dcm
/demo/input/IM190.dcm
/demo/input/IM191.dcm
/demo/input/IM192.dcm
/demo/input/IM193.dcm
/demo/input/IM194.dcm
/demo/input/IM195.dcm
/demo/input/IM196.dcm
/demo/input/IM197.dcm
/demo/input/IM198.dcm
/demo/input/IM199.dcm
/demo/input/IM200.dcm
/demo/input/IM201.dcm
/demo/input/IM202.dcm
/demo/input/IM203.dcm
/demo/input/IM204.dcm
/demo/input/IM205.dcm
/demo/input/IM206.dcm
/demo/input/IM207.dcm
/demo/input/IM208.dcm
/demo/input/IM209.dcm
/demo/input/IM210.dcm
/demo/input/IM211.dcm
/demo/input/IM212.dcm
/demo/input/IM213.dcm
/demo/input/IM214.dcm
/demo/input/IM215.dcm
/demo/input/IM216.dcm
/demo/input/IM217.dcm
/demo/input/IM218.dcm
/demo/input/IM219.dcm
/demo/input/IM220.dcm
/demo/input/IM221.dcm
/demo/input/IM222.dcm
/demo/input/IM223.dcm
/demo/input/IM224.dcm
/demo/input/IM225.dcm
/demo/input/IM226.dcm
/demo/input/IM227.dcm
/demo/input/IM228.dcm
/demo/input/IM229.dcm
/demo/input/IM230.dcm
/demo/input/IM231.dcm
/demo/input/IM232.dcm
/demo/input/IM233.dcm
/demo/input/IM234.dcm
/demo/input/IM235.dcm
/demo/input/IM236.dcm
/demo/input/IM237.dcm
/demo/input/IM238.dcm
/demo/input/IM239.dcm
/demo/input/IM240.dcm
/demo/input/IM241.dcm
/demo/input/IM242.dcm
/demo/input/IM243.dcm
/demo/input/IM244.dcm
/demo/input/IM245.dcm
/demo/input/IM246.dcm
/demo/input/IM247.dcm
/demo/input/IM248.dcm
/demo/input/IM249.dcm
/demo/input/IM250.dcm
/demo/input/IM251.dcm
/demo/input/IM252.dcm
/demo/input/IM253.dcm
/demo/input/IM254.dcm
/demo/input/IM255.dcm
/demo/input/IM256.dcm
/demo/input/IM257.dcm
/demo/input/IM258.dcm
/demo/input/IM259.dcm
/demo/input/IM260.dcm
/demo/input/IM261.dcm
/demo/input/IM262.dcm
/demo/input/IM263.dcm
/demo/input/IM264.dcm
/demo/input/IM265.dcm
/demo/input/IM266.dcm
/demo/input/IM267.dcm
/demo/input/IM268.dcm
/demo/input/IM269.dcm
/demo/input/IM270.dcm
/demo/input/IM271.dcm
/demo/input/IM272.dcm
/demo/input/IM273.dcm
/demo/input/IM274.dcm
/demo/input/IM275.dcm
/demo/input/IM276.dcm
/demo/input/IM277.dcm
/demo/input/IM278.dcm
/demo/input/IM279.dcm
/demo/input/IM280.dcm
/demo/input/IM281.dcm
/demo/input/IM282.dcm
/demo/input/IM283.dcm
/demo/input/IM284.dcm
/demo/input/IM285.dcm
/demo/input/IM286.dcm
/demo/input/IM287.dcm
/demo/input/IM288.dcm
/demo/input/IM289.dcm
/demo/input/IM290.dcm
/demo/input/IM291.dcm
/demo/input/IM292.dcm
/demo/input/IM293.dcm
/demo/input/IM294.dcm
/demo/input/IM295.dcm
/demo/input/IM296.dcm
/demo/input/IM297.dcm
/demo/input/IM298.dcm
/demo/input/IM299.dcm
/demo/input/IM300.dcm
/demo/input/IM301.dcm
/demo/input/IM302.dcm
/demo/input/IM303.dcm
/demo/input/IM304.dcm
/demo/input/IM305.dcm
/demo/input/IM306.dcm
/demo/input/IM307.dcm
/demo/input/IM308.dcm
/demo/input/IM309.dcm
/demo/input/IM310.dcm
/demo/input/IM311.dcm
/demo/input/IM312.dcm
/demo/input/IM313.dcm
/demo/input/IM314.dcm
/demo/input/IM315.dcm
/demo/input/IM316.dcm
/demo/input/IM317.dcm
/demo/input/IM318.dcm
/demo/input/IM319.dcm
/demo/input/IM320.dcm
/demo/input/IM321.dcm
/demo/input/IM322.dcm
/demo/input/IM323.dcm
/demo/input/IM324.dcm
/demo/input/IM325.dcm
/demo/input/IM326.dcm
/demo/input/IM327.dcm
/demo/input/IM328.dcm
/demo/input/IM329.dcm
/demo/input/IM330.dcm
/demo/input/IM331.dcm
/demo/input/IM332.dcm
/demo/input/IM333.dcm
/demo/input/IM334.dcm
/demo/input/IM335.dcm
/demo/input/IM336.dcm
/demo/input/IM337.dcm
/demo/input/IM338.dcm
/demo/input/IM339.dcm
/demo/input/IM340.dcm
/demo/input/IM341.dcm
/demo/input/IM342.dcm
/demo/input/IM343.dcm
/demo/input/IM344.dcm
/demo/input/IM345.dcm
/demo/input/IM346.dcm
/demo/input/IM347.dcm
/demo/input/IM348.dcm
/demo/input/IM349.dcm
/demo/input/IM350.dcm
/demo/input/IM351.dcm
/demo/input/IM352.dcm
/demo/input/IM353.dcm
/demo/input/IM354.dcm
/demo/input/IM355.dcm
/demo/input/IM356.dcm
/demo/input/IM357.dcm
/demo/input/IM358.dcm
/demo/input/IM359.dcm
/demo/input/IM360.dcm
/demo/input/IM361.dcm
/demo/input/IM362.dcm
/demo/input/IM363.dcm
/demo/input/IM364.dcm
/demo/input/IM365.dcm
/demo/input/IM366.dcm
/demo/input/IM367.dcm
/demo/input/IM368.dcm
/demo/input/IM369.dcm
/demo/input/IM370.dcm
/demo/input/IM371.dcm
/demo/input/IM372.dcm
/demo/input/IM373.dcm
/demo/input/IM374.dcm
/demo/input/IM375.dcm
/demo/input/IM376.dcm
/demo/input/IM377.dcm
/demo/input/IM378.dcm
/demo/input/IM379.dcm
/demo/input/IM380.dcm
/demo/input/IM381.dcm
/demo/input/IM382.dcm
/demo/input/IM383.dcm
/demo/input/IM384.dcm
/demo/input/IM385.dcm
/demo/input/IM386.dcm
/demo/input/IM387.dcm
/demo/input/IM388.dcm
/demo/input/IM389.dcm
/demo/input/IM390.dcm
/demo/input/IM391.dcm
/demo/input/IM392.dcm
/demo/input/IM393.dcm
/demo/input/IM394.dcm
/demo/input/IM395.dcm
/demo/input/IM396.dcm
/demo/input/IM397.dcm
/demo/input/IM398.dcm
/demo/input/IM399.dcm
/demo/input/IM400.dcm
/demo/input/IM401.dcm
/demo/input/IM402.dcm
/demo/input/IM403.dcm
/demo/input/IM404.dcm
/demo/input/IM405.dcm
/demo/input/IM406.dcm
/demo/input/IM407.dcm
/demo/input/IM408.dcm
/demo/input/IM409.dcm
/demo/input/IM410.dcm
/demo/input/IM411.dcm
/demo/input/IM412.dcm
/demo/input/IM413.dcm
/demo/input/IM414.dcm
/demo/input/IM415.dcm
/demo/input/IM416.dcm
/demo/input/IM417.dcm
/demo/input/IM418.dcm
/demo/input/IM419.dcm
/demo/input/IM420.dcm
/demo/input/IM421.dcm
/demo/input/IM422.dcm
/demo/input/IM423.dcm
/demo/input/IM424.dcm
/demo/input/IM425.dcm
/demo/input/IM426.dcm
/demo/input/IM427.dcm
/demo/input/IM428.dcm
/demo/input/IM429.dcm
/demo/input/IM430.dcm
/demo/input/IM431.dcm
/demo/input/IM432.dcm
/demo/input/IM433.dcm
/demo/input/IM434.dcm
/demo/input/IM435.dcm
/demo/input/IM436.dcm
/demo/input/IM437.dcm
/demo/input/IM438.dcm
/demo/input/IM439.dcm
/demo/input/IM440.dcm
/demo/input/IM441.dcm
/demo/input/IM442.dcm
/demo/input/IM443.dcm
/demo/input/IM444.dcm
/demo/input/IM445.dcm
/demo/input/IM446.dcm
/demo/input/IM447.dcm
/demo/input/IM448.dcm
/demo/input/IM449.dcm
/demo/input/IM450.dcm
/demo/input/IM451.dcm
/demo/input/IM452.dcm
/demo/input/IM453.dcm
/demo/input/IM454.dcm
/demo/input/IM455.dcm
/demo/input/IM456.dcm
/demo/input/IM457.dcm
/demo/input/IM458.dcm
/demo/input/IM459.dcm
/demo/input/IM460.dcm
/demo/input/IM461.dcm
/demo/input/IM462.dcm
/demo/input/IM463.dcm
/demo/input/IM464.dcm
/demo/input/IM465.dcm
/demo/input/IM466.dcm
/demo/input/IM467.dcm
/demo/input/IM468.dcm
/demo/input/IM469.dcm
/demo/input/IM470.dcm
/demo/input/IM471.dcm
/demo/input/IM472.dcm
/demo/input/IM473.dcm
/demo/input/IM474.dcm
/demo/input/IM475.dcm
/demo/input/IM476.dcm
/demo/input/IM477.dcm
/demo/input/IM478.dcm
/demo/input/IM479.dcm
/demo/input/IM480.dcm
/demo/input/IM481.dcm
/demo/input/IM482.dcm
/demo/input/IM483.dcm
/demo/input/IM484.dcm
/demo/input/IM485.dcm
/demo/input/IM486.dcm
/demo/input/IM487.dcm
/demo/input/IM488.dcm
/demo/input/IM489.dcm
/demo/input/IM490.dcm
/demo/input/IM491.dcm
/demo/input/IM492.dcm
/demo/input/IM493.dcm
/demo/input/IM494.dcm
/demo/input/IM495.dcm
/demo/input/IM496.dcm
/demo/input/IM497.dcm
/demo/input/IM498.dcm
/demo/input/IM499.dcm
/demo/input/IM500.dcm
/demo/input/IM501.dcm
/demo/input/IM502.dcm
/demo/input/IM503.dcm
/demo/input/IM504.dcm
/demo/input/IM505.dcm
/demo/input/IM506.dcm
/demo/input/IM507.dcm
/demo/input/IM508.dcm
/demo/input/IM509.dcm
/demo/input/IM510.dcm
/demo/input/IM511.dcm
/demo/input/IM512.dcm
/demo/input/IM513.dcm
/demo/input/IM514.dcm
/demo/input/IM515.dcm
/demo/input/IM516.dcm
/demo/input/IM517.dcm
/demo/input/IM518.dcm
/demo/input/IM519.dcm
/demo/input/IM520.dcm
/demo/input/IM521.dcm
/demo/input/IM522.dcm
/demo/input/IM523.dcm
/demo/input/IM524.dcm
/demo/input/IM525.dcm
/demo/input/IM526.dcm
/demo/input/IM527.dcm
/demo/input/IM528.dcm
/demo/input/IM529.dcm
/demo/input/IM530.dcm
/demo/input/IM531.dcm
/demo/input/IM532.dcm
/demo/input/IM533.dcm
/demo/input/IM534.dcm
/demo/input/IM535.dcm
/demo/input/IM536.dcm
/demo/input/IM537.dcm
/demo/input/IM538.dcm
/demo/input/IM539.dcm
/demo/input/IM540.dcm
/demo/input/IM541.dcm
/demo/input/IM542.dcm
/demo/input/IM543.dcm
/demo/input/IM544.dcm
/demo/input/IM545.dcm
/demo/input/IM546.dcm
/demo/input/IM547.dcm
/demo/input/IM548.dcm
/demo/input/IM549.dcm
/demo/input/IM550.dcm

